.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}


.btn:hover:focus {
    color: #fff;
    outline: 0;
}

.second {
    border-radius: 3em;
    border-color: #1abc9c;
    color: #fff;
    background-image: linear-gradient(to right, rgba(26, 188, 156, 0.4), rgba(26, 188, 156, 0.4) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.4) 10%, rgba(26, 188, 156, 0.4) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.4) 20%, rgba(26, 188, 156, 0.4) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.4) 30%, rgba(26, 188, 156, 0.4) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.4) 40%, rgba(26, 188, 156, 0.4) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.4) 50%, rgba(26, 188, 156, 0.4) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.4) 60%, rgba(26, 188, 156, 0.4) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.4) 70%, rgba(26, 188, 156, 0.4) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.4) 80%, rgba(26, 188, 156, 0.4) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.4) 90%, rgba(26, 188, 156, 0.4) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    transition: background 300ms ease-in-out;
}

.second:hover {
    background-position: 100px;
}