/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 512px;
    /* Full-width */
    height: 50px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    
    
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 15px;
}

.slidercontainer {
    width: 100%;
    /* Width of the outside container */
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 50px;
    /* Set a specific slider handle width */
    height: 50px;
    /* Slider handle height */
    background: white;
    /* Green background */
    /* background: url('contrasticon.png'); Background with image*/
    cursor: pointer;
    /* Cursor on hover */
    transition: all 0.7s;
    border-radius: 15px;
}

.slider::-moz-range-thumb {
    width: 50px;
    /* Set a specific slider handle width */
    height: 50px;
    /* Slider handle height */
    background: white;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    transition: all 0.7s;
    border-radius: 15px;
}

.slider::-moz-range-thumb:hover {
    /* Slider handle height */
    background: black;
}

.slider::-webkit-slider-thumb:hover {
    background: black;
}