@import "./style/fonts.css";
@import "./style/slider.css";
@import "./style/button.css";

body {
    margin: 0;
    font-family: "NeufileGrotesk-Regular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    height: 100vh;
}

.topic {
    position: absolute;
    font-size: 48px;
    left: 24px;
    top: 24px;
    color: white;
}

.topic > span {
   font-family: "Olten-Italic";
}

.presentation {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
}

.actions {
    display: flex;
    margin-top: 64px;
    height: 48px;
    width: 32px;
    justify-content: center;
}

.actions > button:not(:last-of-type) {
    margin-right: 16px;
}

.indicator {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    
}

.indicator:not(:last-of-type) {
    margin-right: 8px;
}

.indicatorContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 64px;
}

.indicator.active {
    background-color: white;
}

.hidden {
    display: none;
}

.pill {
    width: 15%;
    height: 50%;
    border-radius: 50px;
    position: absolute;
}

.pill > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
}